---
import { getCollection } from "astro:content";
import { format } from "date-fns/format";

import Layout from "~/layouts/layout.astro";
import { cn } from "~/lib/utils";

export const prerender = true;

const TITLE = "Blog";
const DESCRIPTION = "A collection of blog posts I've written.";

const posts = await getCollection("blog");
---

<Layout title={TITLE} description={DESCRIPTION} className="space-y-8">
  <h1 class="font-serif text-3xl font-medium">{TITLE.toLowerCase()}</h1>
  <p class="prose prose-neutral !mt-6 dark:prose-invert">
    {DESCRIPTION.toLowerCase()}
  </p>
  {
    posts.map(({ slug, data }) => (
      <a href={`/blog/${slug}`} class="group flex flex-col space-y-2">
        <span
          class={cn(
            "font-serif text-xl font-medium",
            "underline decoration-neutral-400/0 decoration-1 underline-offset-4 transition-colors group-hover:decoration-neutral-400 dark:decoration-neutral-600/0 dark:group-hover:decoration-neutral-600",
          )}
        >
          {data.title}
        </span>
        <p class="prose prose-neutral dark:prose-invert">{data.description}</p>
        <span class="text-sm text-neutral-600 dark:text-neutral-400">
          {format(data.date, "do MMMM, yyyy").toLowerCase()}
        </span>
      </a>
    ))
  }
</Layout>
